.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */

  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  gap: rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 50px;
  width: 50px;
  stroke: white;
  fill-opacity: 0;
  fill: white;
  stroke-width: 10px;
  stroke-dasharray: 4500;
  animation: draw 5s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
    fill-opacity: 0;
  }
  30% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.loader-down {
  position: fixed;
  width: 100%;
  height: 180%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  font-size: 1em;
  padding: 0.2em 0.4em;
  margin-bottom: 10em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1000;
}
